*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}
.nav_in img{
    height:50px;
    width: 190px;
    background-color: #B5BD8E;
}
.nav_in{
 padding-left: 100px;
 display:flex;
 margin-bottom: 40px;
}
.nav_in a{
  padding-inline-start: 20px;
  padding-top:20px;
  color: black;
}
.nav_in a:hover{
 text-decoration: underline;
}
.nav_in input{
 height:35px;
 width:200px;
 margin-top:10px ;
 margin-left: 10px;
 align-items: 20px;
 border-radius: 50px;
 background-color: #F1F1F1;

}
#head1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    color: #fff;
    padding-top: 100px;
    margin-left: -350px;
}
.header{
    background-color: black;
    height: 800px;
    width: 1000px;
    margin-left: 230px;
}
#head2{
    color: #fff;
    margin: 20px;
    font-size: 22px;
    margin-left: 100px;
    margin-top: 40px;
}
#head2{
    color: #fff;
    margin: 20px;
    font-size: 22px;
    margin-left: 100px;
    margin-top: 50px;
}
#head3{
    color: #fff;
    margin: 20px;
    font-size: 22px;
    margin-left: 100px;
    margin-top: 50px;
}
#head4{
    color: #fff;
    margin: 20px;
    font-size: 22px;
    margin-left: 100px;
    margin-top: 50px;
}
.main-1{
    background-color: rgba(53, 45, 45, 0.7);
    height: 700px;
    width: 1500px;
    margin-top: 1px;
    margin-left: 10px;
}
img{
    height: 350px;
    width: 350px;
}
.footer {
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}
.add li a {
    
    color: silver;
    text-decoration: none;
    
}
.add li {
    padding: 10px;
    text-decoration: none;
}
.add  span {
    font-size: 20px;
    text-decoration: none;
}

.add li  :hover {
    text-decoration: underline;
}
.add1 li a {
    color: silver;
    text-decoration: none;
}
.add1 li {
    padding: 10px;
}
.add1 span {
    font-size: 20px;
    text-decoration: none;
}
.add1 li  :hover {
    text-decoration: underline;
}
.add2 li a {
    color: silver;
    text-decoration: none;

}
.add2 span {
    font-size: 20px;
}
.add2 li:hover {
    text-decoration: underline;
}
.add2 li {
    padding: 10px;
}
.add3 li a {
    color: silver;
    text-decoration: none;
}
.add3 span {
    font-size: 20px;
}
.add3 li :hover {
    text-decoration: underline ;
}
.add3 li {
    padding: 10px;
}
.add4 li a {
    color: silver;
    text-decoration: none;
}
.add4 span {
    font-size: 20px;
}
.add4 li:hover {
    text-decoration: underline;
}
.add4 li {
    padding: 10px;
}
.add5 li a {
    color: silver;
    text-decoration: none;
}
.add5 li {
    padding: 10px;
}
.add5 span {
    font-size: 20px;
}
.add5 li :hover {
    text-decoration: underline;
}
.flag h1 {
    position: absolute;
    top: 350px;
    font-size: 15px;
    background-color: #DDDCE2;
}
.flag a {
    position: absolute;
    top: 370px;
    left: 250px;
    padding: 20px;
    margin-left: 20px;
   background-color: #DDDCE2;
}

